#headerarea
{
	display: none;
}

.tborder
{
	border: none;
}
/*
     FILE ARCHIVED ON 22:02:58 May 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:18:28 Feb 27, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.785
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.016
  cdx.remote: 53.854
  LoadShardBlock: 137.937 (3)
  PetaboxLoader3.datanode: 131.768 (4)
  load_resource: 43.486
*/